{% include 'head.html' %}
{% block head %}
    <title>MagicBooks-关于博主</title>
{% endblock %}

<body style="padding-right: 0px;padding-left: 0px;padding-bottom: 0px;">

{% include 'topbar.html' %}
{% block topbar %}
{% endblock %}

<main class="page faq-page">
    <section class="clean-block clean-faq ">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">关于博主</h2>

            </div>
            <div class="block-content">

                <div class="faq-item">
                    <h4 class="question">博主的基本参数</h4>
                    <div class="answer">
                        <p>Master.Name:Wu
                            <br>
                            Master.Height:184
                            <br>
                            Master.Weight:74kg
                            <br>
                            ...
                            <p style="display: none">别再看了，查户口不是一个好的习惯</p>
                        </p>
                    </div>
                </div>

                <div class="faq-item">
                    <h4 class="question">博主是个什么样的人</h4>
                    <div class="answer">
                        <p>主要是脸皮厚，其他的都不重要</p>
                        <p style="display: none">兴趣爱好广泛(只有你想不到),愿意对感兴趣的领域研究</p>
                    </div>
                </div>

                <div class="faq-item">
                    <h4 class="question">为什么这个博客这么简陋</h4>
                    <div class="answer">
                        <p>现在上线的为测试版本,更多功能将持续更新</p>
                    </div>
                </div>
                <div class="faq-item">
                    <h4 class="question">MagicBooks.Info</h4>
                    <div class="answer">
                        <p>MagicBooks version Alpha 0.0.2</p>
                        <p>Python version 3.6</p>
                        <p>Django version 1.11</p>
                        <p>Editor.md version 1.50</p>
                        <p>Bootstrap version 4.3.1</p>
                        <p>JQuery version 3.4.1</p>
                        <p>苏ICP备19042030号-1</p>
                        <p>还有的请各位自行查看或联系我，毕竟这是一个有彩蛋的网站</p>


                    </div>
                </div>


                <div class="faq-item">
                    <h4 class="question">正在编辑中...</h4>
                    <div class="answer">
                        <p>正在编辑中...</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>


</body>

</body>
</html>