{% include 'head.html' %}
{% block head %}
    <title>MagicBooks-Home</title>
    <style type="text/css">
        body {
            background-image: url(/media/media/Index/Programmer.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #464646;
        }
    </style>
{% endblock %}

<body style="padding-right: 0px;padding-left: 0px;padding-bottom: 0px;">

{% include 'topbar.html' %}
{% block topbar %}
{% endblock %}

<img src="" class="img-fluid" alt="Responsive image" style="background-image: url("/media/media/Index/Programmer.png")">
<div style="text-align:center;margin-top: 20%;">
    <h1 style=" display: none">Hello World...</h1>
    <p style=" display: none">No Code No Bug</p>
    <p style=" display: none">But No Code No Money</p>
    <p style="display: none">No Money No Hamburgers</p>
    <p style=" display: none">一个致力于分享各种资源,心得,教程的博客网站</p>
    <p style="display: none">其实在这个网站我们什么都会去做,只要你够细心总会发现一些不可告人的东西</p>
{#    <a href="/article/" class="btn btn-outline-light btn-lg">Start</a>#}
</div>
</body>

</html>